<br/>
	        <h4><span class="label label-default">{{section}}</span></h4>
			<table class="table table-bordered">
				<thead>
				  <tr>
        <th>Photo</th>
					<th>Name</th>
					<th>Address</th>
					<th>Mobile</th>
					<th>email</th>
					<th>Skype</th>
				  </tr>
				</thead>
				<tbody><tr>
          <td><img src="assets/img/IMG_20180312_141547.jpg" alt="myphoto" class="img-thumbnail"></td>
						<td>Massimiliano del Monaco</td>
					<td>Via Gentile 36 81024 Maddaloni (CE)</td>
					<td>+39 3921735296</td>
					<td>masdelmon@gmail.com</td>
					<td>massimiliano.del.monaco</td></tr>
				</tbody>
			  </table>		
				
				<hr>
				<footer>
					<p>&copy; 2019 - Powered by Angular Technologies Ltd. All rights reserved.</p>
				</footer>

