
  <div class="collapse navbar-collapse">
                 <a class="navbar-brand">myCV</a>
                    <ul class="nav navbar-nav navbar-left">
                <li> <a class="nav-link" routerLink="home">Home</a></li>
								<li><a class="nav-link" routerLink="subroute">Personal Data</a></li>
								<li><a class="nav-link" routerLink="experiences">Work experience</a></li>
								<li><a class="nav-link" routerLink="video">videoCV</a></li>
                     </ul>
   </div>
<br/><br
<hr/>
<router-outlet></router-outlet>

