<br/>
<h4><span class="label label-default">{{section}}</span> <span class="badge badge-pill badge-info">{{experiences.length}}</span> </h4>
<hr/>
<div *ngFor = "let experience of experiences">
  <div class="card">
  <h5 class="card-header">Dal : {{experience.dal}} Al: {{experience.al}}</h5>
  <div class="card-body">
    <h5 class="card-title">Ruolo   : {{experience.occupation}}</h5>
    <h5 class="card-title">Società : {{experience.employer}}</h5>
    <p class="card-text">Attività  : {{experience.activities}}</p>
  </div>
</div>
  <br/>
</div>
<br/>
<footer>
					<p>&copy; 2019 - Powered by Angular Technologies Ltd. All rights reserved.</p>
		</footer>
